<!-- <ng-template appPlaceholder ></ng-template> -->
    <div class=" mr-auto">
      <h3>Choose Your Parts</h3>
        <!-- <qrcode *ngIf="downloadUrl" [qrdata]= "downloadUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
    <!-- <div class="ml-auto">
      <button class="btn btn-primary" (click)="save()" >Save</button>
    </div> -->
  </div>

  <!-- <div class="table-responsive" [@routeAnimations]>
    <table id="table" class="table">
      <thead>
        <tr>
          <th scope="col">Component</th>
          <th scope="col">Selection</th>
          <th scope="col">Price</th>
          <th scope="col">
            <div class="btn-group" role="group">
            <button class="btn btn-primary" (click)="save()" >Save</button>
            <button class="btn btn-primary "[disabled]="qrLoading" (click)="download()" >
              <span class="bi bi-qr-code"  *ngIf="!qrLoading" role="status" aria-hidden="true"></span>
              <span class="spinner-border spinner-border-sm" *ngIf="qrLoading" role="status" aria-hidden="true"></span>
            </button>
            </div>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-cpu.png"  alt="cpu">
              <div class="media-body">
                CPU
              </div>
              
            </div>
          </th>
          <td *ngIf="_pcparts.CPU; else addCPUButton">{{_pcparts.CPU.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.CPU ? (_pcparts.CPU.ComponentHead?.Price | number): null}}</td>
          <td *ngIf="_pcparts.CPU"><button class="btn btn-primary btn-sm" (click)="removePart(1)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-cpucooler.png"  alt="cpu">
              <div class="media-body">
                CPU Cooler
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.CPUCooler; else addCPUCoolerButton">{{_pcparts.CPUCooler.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.CPUCooler ? (_pcparts.CPUCooler.ComponentHead?.Price | number): null}}</td>
          <td *ngIf="_pcparts.CPUCooler"><button class="btn btn-primary btn-sm" (click)="removePart(2)">Remove</button></td>

        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-motherboard.png"  alt="cpu">
              <div class="media-body">
                Motherboard
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.MotherBoard; else addMotherBoardButton">{{_pcparts.MotherBoard.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.MotherBoard ? (_pcparts.MotherBoard.ComponentHead?.Price | number): null}}</td>
          <td *ngIf="_pcparts.MotherBoard"><button class="btn btn-primary btn-sm" (click)="removePart(3)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-memory.png"  alt="cpu">
              <div class="media-body">
                Memory
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.Memory; else addMemoryButton">{{_pcparts.Memory.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.Memory ? (_pcparts.Memory.ComponentHead?.Price | number) : null}}</td>
          <td *ngIf="_pcparts.Memory"><button class="btn btn-primary btn-sm" (click)="removePart(4)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-ssd.png"  alt="cpu">
              <div class="media-body">
                Storage
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.Storage; else addStorageButton">{{_pcparts.Storage.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.Storage ? (_pcparts.Storage.ComponentHead?.Price | number): null}}</td>
          <td *ngIf="_pcparts.Storage"><button class="btn btn-primary btn-sm" (click)="removePart(5)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-videocard.png"  alt="cpu">
              <div class="media-body">
                Videocard
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.Videocard; else addVideocardButton">{{_pcparts.Videocard.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.Videocard ? (_pcparts.Videocard.ComponentHead?.Price | number) : null}}</td>
          <td *ngIf="_pcparts.Videocard"><button class="btn btn-primary btn-sm" (click)="removePart(6)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-case.png"  alt="cpu">
              <div class="media-body">
                Case
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.Case; else addCaseButton">{{_pcparts.Case.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.Case ? (_pcparts.Case.ComponentHead?.Price | number) : null}}</td>
          <td *ngIf="_pcparts.Case"><button class="btn btn-primary btn-sm" (click)="removePart(7)">Remove</button></td>

        </tr>
        <tr>
          <th scope="row">
            <div class="media">
              <img class="mr-1" style="height:50px; width:50px" src="https://cdna.pcpartpicker.com/static/forever/img/nav-powersupply.png"  alt="cpu">
              <div class="media-body">
                Power Supply
              </div> 
            </div>
          </th>
          <td *ngIf="_pcparts.Powersupply; else addPowersupplyButton">{{_pcparts.Powersupply.ComponentHead?.ComponentName}}</td>
          <td>{{_pcparts.Powersupply ? (_pcparts.Powersupply.ComponentHead?.Price | number) : null}}</td>
          <td *ngIf="_pcparts.Powersupply"><button class="btn btn-primary btn-sm" (click)="removePart(8)">Remove</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td class="h2">{{total | number}}</td>
        </tr>
      </tfoot>
    </table>
  </div> -->

  <div class="table-responsive" [@routeAnimations]>
    <table  id="table" class="table">
      <thead>
        <tr>
          <th scope="col">Component</th>
          <th scope="col">Selection</th>
          <th scope="col">Price</th>
          <th scope="col">
            <div class="btn-group" role="group">
            <!-- <button class="btn btn-primary" (click)="save()" >Save</button> -->
            <button class="btn btn-primary "[disabled]="saveLoading" (click)="save()" >
              <span *ngIf="!saveLoading"  aria-hidden="true">Save</span>
              <span class="spinner-border spinner-border-sm" *ngIf="saveLoading" aria-hidden="true"></span>
            </button>
            <button class="btn btn-primary "[disabled]="qrLoading" (click)="download()" >
              <span class="bi bi-qr-code"  *ngIf="!qrLoading" role="status" aria-hidden="true"></span>
              <span class="spinner-border spinner-border-sm" *ngIf="qrLoading" role="status" aria-hidden="true"></span>
            </button>
            </div>

          </th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of _build">
            <th scope="row">
              <div class="media">
                <img class="mr-1" style="height:50px; width:50px" [src]="item.ComponentHead?.ComponentType.image"  >
                <div class="media-body">
                  {{item.ComponentHead.ComponentType.ComponentTypeName}}
                </div>
              </div>
            </th>
              <ng-container [ngTemplateOutlet]="item.ComponentHead.ComponentName != '' ? tbl_row : addCaseButton" [ngTemplateOutletContext]="{item:item}"></ng-container>
              <td>{{item.ComponentHead.Price | number}}</td>
              <td *ngIf="item.ComponentHead.ComponentName != ''"><button class="btn btn-primary btn-sm" (click)="removePart(item.ComponentHead)">Remove</button></td>
          </tr>
      </tbody>
  </table>
  </div>


  <!-- <ng-template #addCPUButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(1)">Add</button></td></ng-template>
  <ng-template #addCPUCoolerButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(2)">Add</button></td></ng-template>
  <ng-template #addMotherBoardButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(3)">Add</button></td></ng-template>
  <ng-template #addMemoryButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(4)">Add</button></td></ng-template>
  <ng-template #addStorageButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(5)">Add</button></td></ng-template>
  <ng-template #addVideocardButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(6)">Add</button></td></ng-template> -->
  <ng-template #addCaseButton let-item='item'><td><button class="btn btn-primary btn-sm" (click)="addPcPart(item.ComponentHead.ComponentType.ComponentTypeID)">Add</button></td></ng-template>
  <!-- <ng-template #addPowersupplyButton><td><button class="btn btn-primary btn-sm" (click)="addPcPart(8)">Add</button></td></ng-template> -->
  <ng-template #tbl_row let-item='item'>
    <td>{{item.ComponentHead.ComponentName}}</td>  
  </ng-template>

<div #modal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scan QR Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <qrcode *ngIf="downloadUrl" [qrdata]= "downloadUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <ng-template #loggedOut>
          Please friend, login.
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
