<div class="card ">
  <h5 class="card-header">Choose Your Parts</h5>
  <div class="card-body">
    <div class="table-responsive" [@routeAnimations]>
      <table  id="table" class="table">
        <thead>
          <tr>
            <th scope="col">Component</th>
            <th scope="col">Selection</th>
            <th scope="col">Price</th>
            <th scope="col">
              <div class="btn-group" role="group">
              <button class="btn btn-primary "[disabled]="saveLoading" (click)="save()" >
                <span *ngIf="!saveLoading"  aria-hidden="true">Save</span>
                <span class="spinner-border spinner-border-sm" *ngIf="saveLoading" aria-hidden="true"></span>
              </button>
              <button class="btn btn-primary "[disabled]="qrLoading" (click)="download()" >
                <span class="bi bi-qr-code"  *ngIf="!qrLoading" role="status" aria-hidden="true"></span>
                <span class="spinner-border spinner-border-sm" *ngIf="qrLoading" role="status" aria-hidden="true"></span>
              </button>
              </div>
  
            </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of _build">
              <th scope="row">
                <div class="media">
                  <img class="mr-1" style="height:50px; width:50px" [src]="item.ComponentHead?.ComponentType.image"  >
                  <div class="media-body">
                    {{item.ComponentHead.ComponentType.ComponentTypeName}}
                  </div>
                </div>
              </th>
                <ng-container [ngTemplateOutlet]="item.ComponentHead.ComponentName != '' ? tbl_row : addCaseButton" [ngTemplateOutletContext]="{item:item}"></ng-container>
                <td>{{item.ComponentHead.Price | number}}</td>
                <td *ngIf="item.ComponentHead.ComponentName != ''"><button class="btn btn-primary btn-sm" (click)="removePart(item.ComponentHead)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
  <ng-template #addCaseButton let-item='item'><td><button class="btn btn-primary btn-sm" (click)="addPcPart(item.ComponentHead.ComponentType.ComponentTypeID)">Add</button></td></ng-template>
  <ng-template #tbl_row let-item='item'>
    <td>{{item.ComponentHead.ComponentName}}</td>  
  </ng-template>

<div #modal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scan QR Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <qrcode *ngIf="downloadUrl" [qrdata]= "downloadUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <ng-template #loggedOut>
          Please friend, login.
        </ng-template>
      </div>
      <div class="modal-footer">
        <button (click)="downloadPDF()" type="button" class="btn btn-secondary">Download PDF</button>
      </div>
    </div>
  </div>
</div>
