
<div class="row">
  <div class=" mr-auto">
    <h1>Choose Your Parts</h1>
  </div>

  <div class="ml-auto">
    <button class="btn btn-primary" (click)="save()" >Save</button>
  </div>
  <div class="ml-auto">
    <button class="btn btn-primary" (click)="fetch()" >Fetch</button>
  </div>

</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Component</th>
        <th scope="col">Selection</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">CPU</th>
        <td *ngIf="_pcparts.CPU; else addCPUButton">{{_pcparts.CPU.name}}</td>
        <td>{{_pcparts.CPU ? _pcparts.CPU.price_usd: null}}</td>
      </tr>
      <tr>
        <th scope="row">CPU Cooler</th>
        <td *ngIf="_pcparts.CPUCooler; else addCPUCoolerButton">{{_pcparts.CPUCooler.name}}</td>
        <td>{{_pcparts.CPUCooler ? _pcparts.CPUCooler.price_usd : null}}</td>
      <tr>
        <th scope="row">Motherboard</th>
        <td *ngIf="_pcparts.MotherBoard; else addMotherBoardButton">{{_pcparts.MotherBoard.name}}</td>
        <td>{{_pcparts.MotherBoard ? _pcparts.MotherBoard.price_usd : null}}</td>
      </tr>
      <tr>
        <th scope="row">Memory</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Storage</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Video Card</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Case</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Power Supply</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Operating System</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Monitor</th>
        <td>Larry</td>
        <td>Larry</td>
      </tr>
    </tbody>
  </table>
  <ng-template #addCPUButton><td><button class="btn btn-primary" (click)="addPcPart(1)">Add</button></td></ng-template>
  <ng-template #addCPUCoolerButton><td><button class="btn btn-primary" (click)="addPcPart(2)">Add</button></td></ng-template>
  <ng-template #addMotherBoardButton><td><button class="btn btn-primary" (click)="addPcPart(3)">Add</button></td></ng-template>