<div #slider [style.width]="rangeWidth" class="min-max-slider">
  <!-- <label for="min">Minimum price</label> -->
  <div class="slider-track" [style.background]="sliderBackground"></div>
  <!-- <div class="slider-track"
   [ngStyle]="{'background': 'linear-gradient(to right, #dadae5 ' + (minValue/rangeMax) *100 + '%, #3264fe ' + (minValue/rangeMax) *100 + '%, #3264fe ' + (maxValue/rangeMax) *100 + '%, #dadae5 ' + (maxValue/rangeMax) *100 + '%)'}"
   ></div> -->
  <span class="lower value">{{ minValue }}</span>
  <input
    style="top: 27.2px"
    [style.left]="minStyleLeft"
    [style.width]="minStyleWidth"
    (input)="update()"
    class="min"
    name="min"
    type="range"
    step="1"
    [min]="rangeMin"
    [max]="maxOfMin"
    [(ngModel)]="minValue"
    (change)="rangeChangeEvent()"
  />

  <!-- <label for="max">Maximum price</label> -->
  <span class="upper value">{{ maxValue }}</span>
  <input
    style="top: 27.2px"
    [style.left]="maxStyleLeft"
    [style.width]="maxStyleWidth"
    (input)="update()"
    class="max"
    name="max"
    type="range"
    step="1"
    [min]="minOfMax"
    [max]="rangeMax"
    [(ngModel)]="maxValue"
    (change)="rangeChangeEvent()"
  />

  <div class="legend" style="margin-top: 15px">
    <div>
      {{ rangeMin }}
    </div>
    <div>
      {{ rangeMax }}
    </div>
  </div>
</div>
