<div class="container">
    <div class="row ">
        <h3 class="mx-auto">Product Categories</h3>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Core</h5>
            <hr>
            <ul >
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/cpu']">CPU</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/cpuCooler']">CPU Cooler</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/motherboard']">Motherboards</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/memory']">Memory</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/storage']">Storage</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/videocard']">Videocard</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/case']">Cases</a>
                </li>
                <li routerLinkActive="active">
                    <a class="text-primary" [routerLink]="['/products/powersupply']">Power Supplies</a>
                </li>
              </ul>
        </div>
    </div>
</div>




