<div class="container">
    <div class="row bg-light ">
        <h3 class="mx-auto">Product Categories</h3>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Core</h5>
            <hr>
            <ul>
                <li routerLinkActive="active">
                    <a [routerLink]="['/products/cpu']">CPU</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/products/cpuCooler']">CPU Cooler</a>
                </li>
                <li>Motherboards</li>
                <li>Memory</li>
                <li>Storage</li>
                <li>Video Cards</li>
                <li>Cases</li>
                <li>Power Supplies</li>
                <li>Operating Systems</li>
                <li>Monitors</li>
              </ul>
        </div>
    </div>
</div>




