<div class="container" [@routeAnimations]>
    <div class="row ">
        <h3 class="mx-auto">Product Categories</h3>
    </div>
    <div class="row mt-3">
        <div class="col">

            <ul >
                <li >
                    <a class="nav-link " routerLinkActive="active"  [routerLink]="['/products/cpu']">CPU</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/cpuCooler']">CPU Cooler</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/motherboard']">Motherboards</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/memory']">Memory</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/storage']">Storage</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/videocard']">Videocard</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/case']">Cases</a>
                </li>
                <li >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/products/powersupply']">Power Supplies</a>
                </li>
              </ul>
        </div>
    </div>
</div>




