
<!-- <div class="accordion" id="accordionExample" [@routeAnimations]>
  <div  class="card" *ngFor="let button of lstFilterCriteria">
    <div class="card-header">
      <h2 class="mb-0">
        <button  class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"(mouseup)="button.expand = !button.expand">
          {{button.name}}
        </button>
      </h2>
    </div>

    <ng-container  class="collapse show" data-parent="#accordionExample" *ngIf="button?.expand">
        <div class="card-body">
          <li *ngFor="let value of button.values">
            {{value}}
          </li>
        </div>
    </ng-container>
  </div>
</div> -->

<!--  -->

<div class="accordion" id="accordionFilter">
  <div class="card" *ngFor="let button of lstFilterCriteria">
    <div class="card-header" [id]="'headingOne'+button.name">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne' + button.name" aria-expanded="true" [attr.aria-controls]="'collapseOne' + button.name">
          {{button.name}}
        </button>
      </h2>
    </div>

    <div [id]="'collapseOne' + button.name" class="collapse show" [aria-labelledby]="'headingOne'+ button.name" >
      <div class="card-body">
        <div [ngSwitch]="button.style">
          <div *ngSwitchCase="'list'">
            <li *ngFor="let value of button.values">
              {{value}}
            </li>
          </div>
          <div *ngSwitchCase="'price_slider'">
            <app-rangeSlider></app-rangeSlider>
          </div>
        </div>

        <!-- <li *ngFor="let value of button.values">
          {{value}}
        </li> -->
      </div>
    </div>
  </div>
</div>
