
  <div class="row mr-0">
    <div class="col-md-3 d-none d-md-block position-fixed h-100  ">
      <!-- <div class=" clearfix" role="group" >
        <button  [hidden]="!(isFilter$ | async)" (click)="toggle();" type="button" class="btn btn-link mr-3 float-left" >
          <span class="bi bi-arrow-return-left "></span>
        </button>
        <button [hidden]="(isFilter$ | async)" (click)="toggle();" type="button" class="btn btn-link mr-3 float-right" >
          <span class="bi bi-arrow-return-right "></span>
        </button>
      </div> -->
      <div class="h-75 overflow-auto border-right">
        <app-product-filter></app-product-filter>
        <!-- <app-products-list ></app-products-list> -->
        <!-- <ng-template #filter>
          <app-product-filter></app-product-filter>
        </ng-template> -->
      </div>
    </div>
    <!-- <div class="col-md-3 d-md-none">
      <div class=" clearfix" role="group" >
        <button  (click)="toggle();" type="button" class="btn btn-link mr-3 float-left" >
          <span class="bi bi-arrow-return-left "></span>
        </button>
        <button  (click)="toggle();" type="button" class="btn btn-link mr-3 float-right" >
          <span class="bi bi-arrow-return-right "></span>
        </button>
      </div>
        <app-products-list *ngIf="!(isFilter$ | async); else filter "></app-products-list>
        <ng-template #filter>
          <app-product-filter></app-product-filter>
        </ng-template>
    </div> -->
    <div class="col-md-9 ml-auto">
        <router-outlet ></router-outlet>
    </div>
    <!-- <div class="col-md-9 border-left d-md-none">
      <router-outlet ></router-outlet>
  </div> -->
</div>

