<div class="row">
  <h3 class="mx-auto">{{title}}</h3>
</div>
<table class="table">
    <thead>
    <tr >
      <th *ngFor="let columnHead of tableConfig.columns; let i = index" >
        <div class="input-group">
          <p 
          (click)="sort(columnHead)" 
          [hidden]="filter == i" [style.cursor]="columnHead.sortable ? 'pointer' : 'auto'">
          {{ columnHead.title }}
          <i *ngIf="columnHead.sortable" [ngClass]="columnHead.sortOrder ? 'bi bi-sort-up' : 'bi bi-sort-down'"></i>
          </p>
          <input #testInput 
          [formControl]="tableFilter" 
          [style.opacity]="filter !== i ? 0 : 1"
           [@contentExpansion] = "filter !== i ? 'collapsed' : 'expanded'" 
           type="text"  
           placeholder="Search by {{columnHead.title}}..." >
           
          <i *ngIf="columnHead.filterable" 
          (click)="toggle(i);" 
          data-toggle="button" [ngClass]="filter == i ? 'btn bi bi-funnel-fill' : 'btn bi bi-funnel'">
        </i>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let columnData of tableContentObs | async | paginate: { itemsPerPage: 10, currentPage: page }">
      <td *ngFor="let columnHead of tableConfig.columns">
        <div *ngIf="columnHead.dataProperty !== 'ROW_ACTIONS';else action_content">
          {{ columnData[columnHead.dataProperty] }}
        </div>
        <ng-template #action_content>
          <div *ngFor="let action of tableConfig.rowActions">
            <button class="btn btn-primary" (click)="rowAction(action.actionFor,columnData)">{{action.label}}</button>
          </div>
        </ng-template>
      </td>
    </tr>
    </tbody>
 </table>
<div class="mx-auto" style="width: fit-content">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>